.popup-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.4);
}

.popup-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 700px;
}

.modal-header {
    background-color: #036DCE;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    color: #fff;
}

.close-btn {
    background: transparent;
    color: #fff;
    font-size: 34px;
    opacity: 0.4;
}

.close-btn:hover {
    opacity: 1;
}

.modal-body {
    padding: 18px;
}

.form-wrp {
    display: flex;
    flex-wrap: wrap;
}

.form-wrp div {
    width: calc(50% - 40px);
    
}

.form-wrp div:nth-child(odd) {
    margin: 0 20px 32px 20px;
}

.form-grp {
    display: flex;
    flex-direction: column;
}

.form-grp label {
    margin-bottom: 12px;
}

.cancel-btn {
    margin-right: 8px;
}

.confirm-msg {
    margin-bottom: 24px;
}

.remove-btn-wrp {
    display: flex;
    justify-content: flex-end;
}