.emp-details-container {
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 8px;
    border-radius: 4px;
    padding: 8px 15px;
}

.emp-details-headers {
    display: flex;
    padding: 12px 0;
}

.emp-details-headers h6, .emp-details-headers div {
    width: 20%;
    font-size: 14px;
}

.no-emp-wrp {
    border-top: 1px solid rgba(0,0,0,.1);
    text-align: center;
    padding: 40px 0;
    color: rgba(0,0,0,.35);
    font-size: 16px;
}

.emp-details-row {
    border-top: 1px solid rgba(0,0,0,.1);
    display: flex;
    padding: 12px 0;
}

.emp-details-row span, .emp-details-row div {
    width: 20%;
}